/sublime/User/.vintageousrc
/sublime/User/Fetch.sublime-settings
/sublime/User/Package Control.cache
/sublime/User/Package Control.last-run
/sublime/User/Package Control.merged-ca-bundle
/sublime/User/Package Control.user-ca-bundle
/sublime/User/Perl.sublime-build
/sublime/User/bh_unicode_properties.cache
/sublime/User/c2u_tmp
/sublime/User/encoding_cache.json
/sublime/User/oscrypto-ca-bundle.crt
