[Unit]  
Description=Shadowsocks service  
After=network.target
  
[Service]  
ExecStart=/usr/bin/ssserver -c /etc/shadowsocks.json
Restart=on-failure
RestartSec=30s
  
[Install]  
WantedBy=multi-user.target  
